table {
    border: 1px solid #69c;
}

th {
    font-weight: normal;
    color: #039;
    padding: 10px;
}

td {
    color: #669;
    border-top: 1px dashed white;
    padding: 10px;
    background:#ccddff;
}

tr:hover td {
    background: #99bcff;
}

div.left {
    width: auto;
    float: left;
}

div.right {
    width: auto;
    float: end;
}

button {
    height: 10px;
}